<a href="https://colab.research.google.com/github/DarkKnight054/Miscellaneous/blob/main/DataScience(Lab_Activity_01).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LAB ACTIVITY 01:**


*   Check the brfss.csv data set
*   Display the content and observe the data

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/DarkKnight054/Miscellaneous/main/brfss.csv'
sample_data = pd.read_csv(url)
sample_data.head()

   Unnamed: 0   age     weight2     wtyrago   wtkg2   htm3  sex
0           0  39.0   88.636364   88.636364   88.64  180.0    1
1           1  64.0   75.000000   84.545455   75.00  155.0    2
2           2  87.0   61.818182   63.636364   61.82    NaN    2
3           3  51.0  100.000000  100.000000  100.00  183.0    1
4           4  35.0   63.636364   61.363636   63.64  170.0    2



*   Create a function cleanBRFSSFrame() to clean the dataset
*   Drop the sex from the data frame
*   Drop the rows of NaN values (every single NaN)

In [ ]:
def cleanBRFSSFrame():
  global sample_data
  del sample_data["sex"]
  sample_data = sample_data.apply(pd.to_numeric, errors='coerce')
  sample_data = sample_data.dropna()
cleanBRFSSFrame()
sample_data.head()

   Unnamed: 0   age     weight2     wtyrago   wtkg2   htm3
0           0  39.0   88.636364   88.636364   88.64  180.0
1           1  64.0   75.000000   84.545455   75.00  155.0
3           3  51.0  100.000000  100.000000  100.00  183.0
4           4  35.0   63.636364   61.363636   63.64  170.0
5           5  62.0   70.454545   70.454545   70.45  173.0



*   Use the describe() method to display the count, mean, std, min, and quantile data for column weight2.

In [5]:
sample_data.weight2.describe()

count    398484.000000
mean         78.992337
std          19.546212
min          20.000000
25%          64.545455
50%          77.272727
75%          90.909091
max         309.090909
Name: weight2, dtype: float64



*   Find the median (median()) and mode (mode()) of the age

In [6]:
# Median And Mode for Age Column
print('Median of Age Column: ', sample_data.age.median())
print('Mode of Age Column: ', sample_data.age.mode())

Median of Age Column:  55.0
Mode of Age Column:  0    60.0
dtype: float64